@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
    url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@include font-face(GolosText, GolosText-Bold, 700);
@include font-face(GolosText, GolosText-Medium, 500);
@include font-face(GolosText, GolosText-Regular, 400);
@include font-face(GolosText, GolosText-SemiBold, 600);
@include font-face(Merriweather, Merriweather-Bold, 700);
@include font-face(Merriweather, Merriweather-Regular, 400);
@include font-face(Montserrat, Montserrat-Medium, 500);