html,
body {
  height: 100%;
}

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 375;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1252;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: border-box;
      margin: 0 auto;
    }

    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }

    @media (max-width:$mobileSmall){
       padding: 0 rem(20); 
    }
  }
}

@else {

  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;

    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    }

    @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;

      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

body {
  font-family: 'GolosText', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: $default;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

// .body--hidden {
//   overflow: hidden;
// }

.main {
  flex-grow: 1;
}

.btn {
  font-size: 16px;
  color: $white;
  background-color: $btnColor;
  line-height: 1.3;
  border-radius: 66px;
  padding: 14px 49px;
  border: 2px solid transparent;
  max-width: 263px;
  width: 100%;
  text-align: center;
  outline: transparent;
  transition: color 0.3s linear, background-color 0.3s linear, transform 0.2s linear;

  @media (max-width:$mobileSmall){
     padding: 12px 35px; 
  }

    // &:focus {
      
    // }

    @media (hover: hover) {
      &:hover {
        background-color: #FBCE51;
        color: $btnColor;
      }
    }

    @media (hover: none) {
      &:active {
        transform: translateY(-5px);
      }
    }

    &:active {
      transform: translateY(-5px);
    }

    &--outline {
    color: $btnColor;
    background-color: transparent;
    border-color: $btnColor;

    @media (hover: hover){
      &:hover {
        background-color: $btnColor;
        color: $white;
      }
    }

    @media (hover: none) {
      &:active {
        transform: translateY(-5px);
      }
    }
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  color: $default;
  text-transform: uppercase;
}



.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}