// @use './mixins';

.header {
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


// .burger {
//   display: none;
//   @include mixins.burger;
  
//   @include mixins.r(992) {
//     display: block;
//     z-index: 11;
//     order: 2;
//     @include mixins.adaptiveValue("margin-left", 40, 20);
//   }
// }
