.header {
  @extend %bg-img;
  height: 100vh;

  &__container {
    margin-top: 26px;
    position: relative;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 57px;
  }

  &__info {
    max-width: 542px;
    width: 100%;
  }

  &__title {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 27px;

    div {
      text-align: center;

      span {
        margin-left: 33px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    text-align: center; 
    margin-bottom: 40px; 
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}