$default-color: #313131;
$accent-color: #F54932;
$default-background-color: #ffffff;
$links-color-default: #3057A2;
$button-color-default: #1F1F1F;
$button-color-secondary: #ffffff;
$button-color-accent: #FBCE51;