$default: #313131;
$accent: #F54932;
$linkColor: #3057A2;
$bgAccent: #E9DED4;
$white: #ffffff;
$btnColor: #1F1F1F;

@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
   }
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
 
%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}